---
name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - cmd/**
      - pkg/**
      - go.*
      - Dockerfile
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
    paths:
      - cmd/**
      - pkg/**
      - go.*
      - Dockerfile

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Prepare
        id: prep
        run: |
          echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
        with:
          install: true
          version: latest
          driver-opts: image=moby/buildkit:latest
      - name: Build local image for scan and sbom
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          tags: localbuild/cloudflare-ddns:latest
          push: false
          load: true
      - name: Scan image
        id: scan
        uses: anchore/scan-action@3c9a191a0fbab285ca6b8530b5de5a642cba332f # v7
        with:
          image: localbuild/cloudflare-ddns:latest
          fail-build: true
          severity-cutoff: critical
      - name: Create SBOM
        uses: anchore/sbom-action@43a17d6e7add2b5535efe4dcae9952337c479a93 # v0
        with:
          format: spdx-json
          output-file: "${{ github.event.repository.name }}-sbom.spdx.json"
      - name: Scan SBOM
        uses: anchore/scan-action@3c9a191a0fbab285ca6b8530b5de5a642cba332f # v7
        with:
          sbom: "${{ github.event.repository.name }}-sbom.spdx.json"
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
