---
name: release

on:
  pull_request:
  push:
    branches: ["main"]
    paths:
      - cmd/**
      - pkg/**
      - go.*
      - Dockerfile
  release:
    types: ["published"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}},prefix=v
            type=semver,pattern={{major}}.{{minor}},prefix=v
            type=semver,pattern={{major}},prefix=v
            type=ref,event=branch
            type=ref,event=pr
          flavor: |
            latest=auto
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          install: true
          version: latest
          driver-opts: image=moby/buildkit:latest
      - name: build local container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          tags: localbuild/cloudflare-ddns:latest
          push: false
          load: true
      - name: Scan image
        id: scan
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0 # v7
        with:
          image: localbuild/cloudflare-ddns:latest
          fail-build: true
          severity-cutoff: critical
      - name: Create SBOM
        uses: anchore/sbom-action@fbfd9c6c189226748411491745178e0c2017392d # v0
        with:
          format: spdx-json
          output-file: "${{ github.event.repository.name }}-sbom.spdx.json"
      - name: Scan SBOM
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0 # v7
        with:
          sbom: "${{ github.event.repository.name }}-sbom.spdx.json"
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            REVISION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.revision'] }}
